img {
    width: 48;
    height: 48;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    font-size: 24px;
}

h2 {
    margin: 0px;
    font-size: 18px;
    vertical-align: middle;
    line-height: 34px;
}

.page-header {
    margin-top: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.container-fluid {
    padding: 24px;
}

.container-fluid .jumbotron {
    padding: 24px;
}

.jumbotron {
    margin-bottom: 24px;
    min-height: 82px;
}